*{
    top:0px;
}
body{
    background-image:url('1.jpg');
    background-position: center;
    background-size: cover;
}
.s{
    background-color:orange;
    border-radius:1cm;
    width:100px;
    height:auto;
    text-align: center;
    padding-left:-50px;
}
.c{
    background-color:green;
    border-radius:10cm;
    width:100px;
    height:auto;
    text-align: center;
    margin-left:-50px;
}
h1{
    color: rgb(252, 252, 252);
    font-size:70px;
    margin-top: 0px;
    text-shadow:2px 2px 5px white;
}
h2{
    color:white;
    font-size: 68px;
    margin-top:9px;
    margin-left:-20px;
    text-shadow:2px 2px 5px white;
}
input{
    padding:20px;
    width:400px;
    margin-left:30px;
    border-style:none;
    margin-top:20px;
    height:100px;
    font-size:40px;
}
.inputs{
    width:70px;
    height:70px;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:30px;
    border-radius:1cm;
    box-shadow:2px 2px 5px black;
    font-style: italic;
}
.inputs:hover{
    cursor:pointer;
    box-shadow:4px 4px 10px black;
    transition:0.4s ease-in-out;
}
table{
    text-align: center;
}
.inputs_c{
    width:70px;
    height:70px;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:30px;
    border-radius:1cm;
    box-shadow:2px 2px 5px black;
    font-style: italic;
    color: red;
}
.inputs_c:hover{
    cursor:pointer;
    box-shadow:4px 4px 10px black;
    transition:0.4s ease-in-out;
    background-color:rgba(250, 8, 8);
    color: white;
    transition:0.4s ease-in-out;
}
.inputs_e{
    width:70px;
    height:70px;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:30px;
    border-radius:1cm;
    box-shadow:2px 2px 5px black;
    font-style: italic;
    color:green;
}
.inputs_e:hover{
    cursor:pointer;
    box-shadow:4px 4px 10px black;
    transition:0.4s ease-in-out;
    background-color:rgb(8, 250, 36);
    color: white;
    transition:0.4s ease-in-out;
}
.h1{
    font-size:100px;
    text-shadow:2px 2px 5px black;
    line-height:150px;
    margin-left:200px;
    color: black;
}
